<form>
  <mat-form-field>
    <mat-label>MOS</mat-label>
    <input
        type="text"
        placeholder="Enter your MOS"
        aria-label="Number"
        matInput
        [(ngModel)]="input"
        (click)="this.filter()"
        [formControl]="control"
        [matAutocomplete]="auto">

  <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-button-toggle-group class="field" (change)="this.clear()" #group="matButtonToggleGroup" [value]="selectedVal" (change)="onValChange(group.value)">
    <mat-button-toggle value="ac">Active Component</mat-button-toggle>
    <mat-button-toggle value="agr">Active Guard Reserve</mat-button-toggle>
  </mat-button-toggle-group>

  <button mat-raised-button class="field" color="primary" type="button" (click)="this.get_MOS_points()">Submit</button>
</form>
<hr>


<div class="container" *ngIf="this.show_data">
  <h2>SGT:  <span class="nums" [innerHTML]="data.SGT"></span></h2>
  <h2>SSG:  <span class="nums" [innerHTML]="data.SSG"></span></h2>
</div>