body {
    background-color: lightgray;
}

.nums {
    color: red;
}

.month {
    color: blue;
}

#footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 98%;
            /* Height of the footer*/
            height: 40px;
        }

#selector {
    margin-left: 5px;
}

#disclaimer {
    position: fixed;
    margin-left: 40%;
    bottom: 3%;
}

center {
    vertical-align: bottom;
}